<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820343991980-jsdsj1bfid4q4ol9aodn4f39pmp52muh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820343991980-jsdsj1bfid4q4ol9aodn4f39pmp52muh</string>
	<key>API_KEY</key>
	<string>AIzaSyA00BjYnu6vQwNagS7iZZIvJnEKixfMZ80</string>
	<key>GCM_SENDER_ID</key>
	<string>820343991980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cybernatedAttendenceSystem</string>
	<key>PROJECT_ID</key>
	<string>cybernated-attendance-sy-8a74c</string>
	<key>STORAGE_BUCKET</key>
	<string>cybernated-attendance-sy-8a74c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820343991980:ios:dfb60662c83c15fb93b909</string>
</dict>
</plist>